<p>home works!</p>
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Enviar imagens</h4>
	</div>
	<div class="modal-body">
        <p>Envie uma ou mais imagens, clicando nos quadrados abaixo</p>
		<p>One fine body&hellip;</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>

<button class="btn btn-outline-primary mb-2 me-2" (click)="openLg(content)">Large modal</button>